<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Percorsi trekking">
    <meta name="author" content="Simone Nardella">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>

<body>
    <section class="header" id="header">
        <%- include('partials/navbar') %>
    </section>

    <section class="gallery">
        <div class="container">
            <h2>Avventure <span>epiche</span> ti attendono!</h2>
            <h4>Scopri il tuo sentiero ideale e immergiti nella natura selvaggia:</h4>

            <% for (let i = 0; i < trails.length; i += 3) { %>
            <div class="images">
                <div class="row">
                    <% for (let j = i; j < Math.min(i + 3, trails.length); j++) { %>
                    <div class="col-md-4">
                        <a href="/sentiero/<%= trails[j].slug %>">
                            <div class="image-container">
                                <img src="/images/<%= trails[j].immagine %>" alt="<%= trails[j].nome %>" />
                                <div class="overlay">
                                    <div class="overlay-text"><%= trails[j].nome %></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
    </section>

    <%- include('partials/footer') %>

    <script src="/javascripts/jquery.min.js"></script>
</body>

</html>
