<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Registrazione">
    <meta name="author" content="Simone Nardella">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/blog-style.css" rel="stylesheet">
    <link href="/stylesheets/contact.css" rel="stylesheet">
    <link href="/stylesheets/notifications.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.default.min.css">
</head>

<body>
    <section class="header" id="header">
        <%- include('partials/navbar') %>
    </section>

    <section class="contact-form">
        <div class="container">
            <div class="contact-heading">
                <h1>Accedi o Registrati</h1>
                <h3>Crea un nuovo account o accedi se ne possiedi già uno.</h3>
            </div>

            <%- include('partials/notifications') %>

            <!-- Form Login -->
            <form id="login-form" class="login-form <%= activeForm === 'register' ? 'hidden' : '' %>" action="/login" method="post">
                <h3>Accedi</h3>
                <fieldset>
                    <label for="login-email" class="sr-only">Indirizzo Email</label>
                    <input id="login-email" name="email" placeholder="Indirizzo Email" type="email" tabindex="1" required>
                </fieldset>
                <fieldset>
                    <label for="login-password" class="sr-only">Password</label>
                    <input id="login-password" name="password" placeholder="Password" type="password" tabindex="2" required>
                </fieldset>
                <fieldset>
                    <button type="submit">Accedi</button>
                </fieldset>
                <p>Non hai un account? <a href="#" id="register-link">Registrati</a></p>
            </form>

            <!-- Form Registrazione -->
            <form id="register-form" class="register-form <%= activeForm === 'register' ? '' : 'hidden' %>" action="/register" method="post">
                <h3>Registrati</h3>
                <fieldset>
                    <label for="reg-nome" class="sr-only">Nome</label>
                    <input id="reg-nome" name="nome" placeholder="Nome" type="text" tabindex="1" required>
                </fieldset>
                <fieldset>
                    <label for="reg-cognome" class="sr-only">Cognome</label>
                    <input id="reg-cognome" name="cognome" placeholder="Cognome" type="text" tabindex="2" required>
                </fieldset>
                <fieldset>
                    <label for="reg-email" class="sr-only">Indirizzo Email</label>
                    <input id="reg-email" name="email" placeholder="Indirizzo Email" type="email" tabindex="3" required>
                </fieldset>
                <fieldset>
                    <label for="reg-password" class="sr-only">Password</label>
                    <input id="reg-password" name="password" placeholder="Password" type="password" tabindex="4" required>
                </fieldset>
                <fieldset>
                    <label for="reg-role" class="sr-only">Seleziona il tuo ruolo</label>
                    <select id="reg-role" name="role" tabindex="5" required>
                        <option value="" disabled selected>Seleziona il tuo ruolo</option>
                        <option value="camminatore">Camminatore</option>
                        <option value="ristoratore">Ristoratore</option>
                    </select>
                </fieldset>
                <fieldset>
                    <button type="submit">Registrati</button>
                </fieldset>
                <p>Hai già un account? <a href="#" id="login-link">Accedi</a></p>
            </form>
        </div>
    </section>

    <%- include('partials/footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/notifications.js"></script>
    <script src="/javascripts/auth-toggle.js"></script>
</body>

</html>
