<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Via degli Dei - versione modern">
    <meta name="author" content="Simone Nardella">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/via-degli-dei-modern.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
</head>

<body>
    <section class="header" id="header">
        <%- include('partials/navbar') %>
    </section>

    <section class="vddm-hero">
        <div class="container">
            <div class="vddm-hero-box">
                <p class="kicker">Cammino iconico</p>
                <h1>Via degli Dei</h1>
                <p class="subtitle">Da Bologna a Firenze in 5 tappe tra storia, natura e panorami appenninici.</p>
                <a href="/strutture?cammino=via-degli-dei" class="btn btn-warning btn-lg vddm-hero-cta">
                    <i class="fa fa-bed"></i> Prenota ora
                </a>
            </div>
        </div>
    </section>

    <main class="vddm-main">
        <section class="container">
            <div class="row vddm-top-row">
                <div class="col-md-8 vddm-left-col">
                    <div class="vddm-section-title">
                        <h2>Tappe del percorso</h2>
                    </div>

                    <div class="panel-group vddm-accordion" id="vddmAccordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="vddmHeadingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#vddmAccordion" href="#vddmCollapseOne" aria-expanded="true" aria-controls="vddmCollapseOne">
                                        1) Bologna - Badolo
                                    </a>
                                </h4>
                            </div>
                            <div id="vddmCollapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="vddmHeadingOne">
                                <div class="panel-body">
                                    <div class="vddm-stage-meta"><span>Lunghezza: 21.3 km</span><span>Dislivello: +817m / -515m</span><span>Tempo percorrenza: 6h50</span></div>
                                    <p>Dalla stazione FS di Bologna si imbocca Via Indipendenza e si arriva in Piazza Maggiore, punto d'inizio della Via degli Dei. Proseguendo per Via d'Azeglio, Via Farini e Via Collegio di Spagna, si raggiunge Via Saragozza per acquistare il pranzo al sacco.</p>
                                    <p>Dal Meloncello si percorre il portico fino al Santuario di San Luca. Proseguendo lungo la riva destra del fiume Reno, si incontrano i cartelli della Via degli Dei e del sentiero CAI 112.</p>
                                    <p>Si raggiunge l'Oasi Naturalistica di San Gherardo presso Palazzo de' Rossi, ideale per birdwatching e trekking. Superata l'oasi, si continua verso Sasso Marconi o Badolo, passando per Prati di Mugnano, Via delle Orchidee e Via delle Valli fino all'arrivo.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="vddmHeadingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vddmAccordion" href="#vddmCollapseTwo" aria-expanded="false" aria-controls="vddmCollapseTwo">
                                        2) Badolo - Madonna dei Fornelli
                                    </a>
                                </h4>
                            </div>
                            <div id="vddmCollapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vddmHeadingTwo">
                                <div class="panel-body">
                                    <div class="vddm-stage-meta"><span>Lunghezza: 28 km</span><span>Dislivello: +1460m / -1038m</span><span>Tempo percorrenza: 9h50</span></div>
                                    <p>Percorrendo Via delle Valli, il sentiero attraversa boschi di quercioli e roverelle intorno a Monte del Frate. Lungo il percorso si incontra il Centro Tutela e Ricerca Fauna Esotica e Selvatica - Monte Adone.</p>
                                    <p>Dopo un bivio, si prosegue verso l'Agriturismo Piccola Raieda e quindi si sale a Monte Adone, da cui si gode un panorama molto ampio. In discesa si arriva a Brento, dove sono presenti bar e trattorie.</p>
                                    <p>Si continua verso Monzuno e poi Madonna dei Fornelli, passando per sentieri CAI e tratti sterrati nel bosco di castagni fino all'arrivo.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="vddmHeadingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vddmAccordion" href="#vddmCollapseThree" aria-expanded="false" aria-controls="vddmCollapseThree">
                                        3) Madonna dei Fornelli - Passo della Futa
                                    </a>
                                </h4>
                            </div>
                            <div id="vddmCollapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vddmHeadingThree">
                                <div class="panel-body">
                                    <div class="vddm-stage-meta"><span>Lunghezza: 17.7 km</span><span>Dislivello: +742m / -441m</span><span>Tempo percorrenza: 5h50</span></div>
                                    <p>Da Madonna dei Fornelli si segue il percorso fino al Passo della Futa, dove è possibile visitare il Cimitero Militare Germanico.</p>
                                    <p>Il sentiero attraversa boschi antichi e tratti panoramici molto suggestivi, con scorci sull'Appennino e piccoli nuclei abitati lungo il cammino.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="vddmHeadingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vddmAccordion" href="#vddmCollapseFour" aria-expanded="false" aria-controls="vddmCollapseFour">
                                        4) Passo della Futa - San Piero a Sieve
                                    </a>
                                </h4>
                            </div>
                            <div id="vddmCollapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vddmHeadingFour">
                                <div class="panel-body">
                                    <div class="vddm-stage-meta"><span>Lunghezza: 23.9 km</span><span>Dislivello: +722m / -1156m</span><span>Tempo percorrenza: 7h50</span></div>
                                    <p>Tappa caratterizzata da discese dolci e panorami aperti. Il percorso si snoda tra prati e boschi fino al borgo di Sant'Agata, dove si può visitare la Pieve.</p>
                                    <p>Si arriva poi a San Piero a Sieve, centro con servizi e ristori, in una tappa che unisce natura e cultura locale.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="vddmHeadingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#vddmAccordion" href="#vddmCollapseFive" aria-expanded="false" aria-controls="vddmCollapseFive">
                                        5) San Piero a Sieve - Firenze
                                    </a>
                                </h4>
                            </div>
                            <div id="vddmCollapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vddmHeadingFive">
                                <div class="panel-body">
                                    <div class="vddm-stage-meta"><span>Lunghezza: 33 km</span><span>Dislivello: +923m / -1147m</span><span>Tempo percorrenza: 11h</span></div>
                                    <p>L'ultima tappa porta da San Piero a Sieve al cuore di Firenze, attraversando colline di ulivi e vigneti con viste sulla campagna toscana.</p>
                                    <p>Passando da Fiesole, con il suo patrimonio storico, si raggiunge infine Firenze con un arrivo panoramico e scenografico.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="vddm-booking-wrap">
                        <a href="/strutture?cammino=via-degli-dei" class="btn btn-warning btn-lg vddm-booking-cta">
                            <i class="fa fa-bed"></i> Prenota ora
                        </a>
                    </div>
                </div>

                <aside class="col-md-4 vddm-right-col">
                    <div class="vddm-info-card">
                        <h3><i class="fa fa-map-signs"></i> Info generali</h3>
                        <ul>
                            <li><strong>Partenza:</strong> Bologna</li>
                            <li><strong>Arrivo:</strong> Firenze</li>
                            <li><strong>Regione:</strong> Emilia-Romagna / Toscana</li>
                            <li><strong>Tappe:</strong> 5</li>
                            <li><strong>Lunghezza totale:</strong> 130 km</li>
                            <li><strong>Stagione ideale:</strong> Primavera / Autunno</li>
                        </ul>
                    </div>

                    <div class="vddm-gallery-title">
                        <h3>Galleria tappe</h3>
                    </div>
                    <div id="vddmGallery" class="carousel slide vddm-carousel" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="/images/Via degli Dei.jpg" alt="Via degli Dei - tappa 1">
                            </div>
                            <div class="item">
                                <img src="/images/Via degli Dei.jpg" alt="Via degli Dei - tappa 2">
                            </div>
                            <div class="item">
                                <img src="/images/Via degli Dei.jpg" alt="Via degli Dei - tappa 3">
                            </div>
                            <div class="item">
                                <img src="/images/Via degli Dei.jpg" alt="Via degli Dei - tappa 4">
                            </div>
                            <div class="item">
                                <img src="/images/Via degli Dei.jpg" alt="Via degli Dei - tappa 5">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#vddmGallery" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Precedente</span>
                        </a>
                        <a class="right carousel-control" href="#vddmGallery" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Successiva</span>
                        </a>
                    </div>
                </aside>
            </div>
        </section>

        <% if (facilities && facilities.length > 0) { %>
        <section class="container vddm-facilities">
            <div class="vddm-section-title">
                <h2>Strutture lungo il percorso</h2>
            </div>
            <div class="row">
                <% facilities.forEach(function(f) { %>
                <div class="col-md-4 col-sm-6 vddm-facility-col">
                    <article class="vddm-facility-card">
                        <% if (f.immagine) { %>
                        <img src="/images/<%= f.immagine %>" alt="<%= f.nome %>">
                        <% } else { %>
                        <div class="placeholder"><i class="fa fa-home fa-3x"></i></div>
                        <% } %>
                        <div class="body">
                            <h4><%= f.nome %></h4>
                            <p><i class="fa fa-map-marker"></i> <%= f.citta %></p>
                            <% if (f.prezzo_notte) { %>
                            <p><strong>&euro;<%= f.prezzo_notte.toFixed(2) %></strong> / notte</p>
                            <% } %>
                            <a href="/struttura/<%= f.id %>" class="btn btn-primary btn-lg">Dettagli e prenota</a>
                        </div>
                    </article>
                </div>
                <% }); %>
            </div>
        </section>
        <% } %>

        <section class="container vddm-map-section">
            <div class="vddm-section-title">
                <h2>Mappa interattiva</h2>
            </div>
            <div id="trail-map" class="vddm-map" data-gpx-map data-gpx="/gpx/via-degli-dei-da-bologna-a-firenze.gpx"></div>
            <p class="vddm-map-note" data-gpx-note hidden>Traccia GPX non disponibile per questo cammino.</p>
        </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="/javascripts/trail-map.js"></script>
</body>

</html>
